<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ImportData</servlet-name>
  	<display-name>ImportData</display-name>
  	<description></description>
  	<servlet-class>controller.ImportData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UniSearchCtr</servlet-name>
  	<display-name>UniSearchCtr</display-name>
  	<description></description>
  	<servlet-class>controller.UniSearchCtr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBenchMark</servlet-name>
  	<display-name>SearchBenchMark</display-name>
  	<description></description>
  	<servlet-class>controller.SearchBenchMark</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ImportSector</servlet-name>
  	<display-name>ImportSector</display-name>
  	<description></description>
  	<servlet-class>controller.ImportSector</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImportData</servlet-name>
  	<url-pattern>/ImportData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UniSearchCtr</servlet-name>
  	<url-pattern>/UniSearchCtr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBenchMark</servlet-name>
  	<url-pattern>/SearchBenchMark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ImportSector</servlet-name>
  	<url-pattern>/ImportSector</url-pattern>
  </servlet-mapping>
</web-app>
